.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.btn {
    font-size: 18px;
    background-color: #BDC6D1;
    color: #5C6378;
    margin-left: 1%;
    margin-right: 1%;
    width: 100px;
    margin-bottom: 3%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}