  <!-- Section: Design Block -->
  <section class="background-radial-gradient overflow-hidden">  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight">Welcome to <br />
            <span>SEP Bank Serbia</span>
          </h1>
          <p class="text mb-4 opacity-70">
            SEP Bank is leading bank in Serbia end a member od SEP, a successfull Pan-Europen Comercial Bank.
            Based on our position as leading bank in Serbia, we offer product and services that meet modern standards – 24/7, online, on a mobile basis and via our branches.
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">

              <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <h2 class="fw-bold ls-tight">New Bank Account</h2>
                <p>Create new account at SEP Bank</p>
              </div>
              
              <div  [formGroup]="myForm">
                <div class="form-group mb-4">
                  <label for="exampleInputEmail1">Card Holder Name</label>
                  <!-- <input type="text" [(ngModel)]="account.cardHolderName"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""> -->
                  <input type="text" formControlName="cardHolderName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                  <small id="emailHelp" class="form-text text-muted"></small>
                  <div style="color: red;" *ngIf="myForm.controls['cardHolderName'].invalid && myForm.controls['cardHolderName'].touched">
                    Card Holder Name is required and must contain only characters.
                </div>
                </div>
  
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-lg btn-block mb-4" (click)="createBankAcc()">
                    Add
                  </button>
                </div>
                
  
                <!-- Register buttons -->
                <div class="text-center">
                  <a>Subscriptions</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="slicice">
    <mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/investors.jpg">
        <mat-card-title style="margin-left: 1%; margin-top: 1%;">Investors</mat-card-title>
        <mat-card-content>
            <p><br>
                At SEP Bank, we communicate clearly with investors, ratings agencies and financial analysts.
            </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/media-press.png">
        <mat-card-title style="margin-left: 1%; margin-top: 1%;">Press and Media</mat-card-title>
        <mat-card-content>
            <p><br>
                Learn about our latest news and initiatives and refer to our annual Integrated Report.
            </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <img mat-card-image src="../../../assets/images/career.jpg">
        <mat-card-title style="margin-left: 1%; margin-top: 1%;">Careers</mat-card-title>
        <mat-card-content>
            <p><br>
                Join us in combining local expertise and international reach, through our unique network.
            </p>
        </mat-card-content>
      </mat-card>
  </div>

  <div class="opis">
    <h1 class="naslov">SEP Bank Group Institutional Description</h1>
    <p class="descr">
        SEP is a pan-European Commercial Bank with a unique service offering in Italy, Germany, Central and Eastern Europe. Our purpose is to empower communities to progress, delivering the best-in-class for all stakeholders, unlocking the potential of our clients and our people across Europe.
        We serve over 15 million customers worldwide. They are at the heart of what we do in all our markets. UniCredit is organized in four core regions and two product factories, Corporate and Individual Solutions. This allows us to be close to our clients and use the scale of the entire Group for developing and offering the best products across all our markets.
        Digitalisation and our commitment to ESG principles are key enablers for our service. They help us deliver excellence to our stakeholders and creating a sustainable future for our clients, our communities and our people.
    </p>
  </div>


