<h1 class="naslov">Merchants</h1>
<div class="background">
    <div class="table-cont">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Merchant Id </th>
              <td mat-cell *matCellDef="let element"> {{element.merchantId}} </td>
            </ng-container>

            <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef> Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
            </ng-container>

            <ng-container matColumnDef="funds">
                <th mat-header-cell *matHeaderCellDef> Reserved funds </th>
                <td mat-cell *matCellDef="let element"> {{element.reservedFunds}} </td>
            </ng-container>

             <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn" mat-button (click)="deleteMerchant(element.id)">X</button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row no-data-row" *matNoDataRow>
                <td class="mat-cell" colspan="5" style="padding: 20px;">No data available in table</td>
            </tr>
          </table>     
    </div> 
    <button class="btn-add" mat-button (click)="createMerchant()">Generate Merchant</button>
</div>

